/* Desktop */ 
html {
	background-color: #202020;
	color: #FFFFFF;
}

p {
	line-height: 1.6;
}

a,a:link, .fa,.fa:link{
	color: #A0A0A0;
	text-decoration: none;
}

a:hover, .fa:hover{
	color: #F0F0F0; 
}

.content {
	width: 100%;
	margin: 0;
	padding-top: 15px;
}

@font-face {
    font-family: 'Newsreader';
    src: url('./Newsreader-VariableFont_opsz\,wght.ttf');
}

body {
	margin: auto;
	position: relative;
	align-items: center;
	max-width: 960px;
	font-family: 'Newsreader';
	font-size: 24px;
	padding-bottom: 45px;
}


.navbar {
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	padding-top: 45px;
	display: flex;
	align-items: center;
	justify-content: space-between;    
}

.navbar ul {
	margin: 0;
	padding: 0;
	display: block;
	justify-content: space-between;
	align-items: center;
}
.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 15px;
}

.name_nav {
	font-size: 36px;
	padding-left: 15px;
}

.info_board {
	width: 100%;
	margin: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	align-items: center;
}

.info_board ul {
	width: 50%;
	text-align: center;
}

.info_board li {
	list-style: none;
	text-align: left;
	padding-top: 3px;
	padding-bottom: 3px;
}

.profile_photo {
	width: 40%;
	display: inline-block;
	padding: 15px;
	border-radius: 40px;
}

.photo_block {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 30px;
	align-items: center;
}

.photo_block .photo {
	width: 100%;
	padding-bottom: 4px;
	display: block;
}

.photo_block .vertical_photo {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-bottom: 4px;
}

.photo_block .two_panel {
	display: flex;
}

.photo_block .two_panel .column {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.photo_block .caption {
	font-style: italic;
	font-size: 18px;
	text-align: center;
	margin-top: 10px;
}

.blog_entry, .blog_entry_no_photo {
	width: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	padding-bottom: 6px;
}

.blog_entry ul {
	width: 60%;
	text-align: center;
	margin-top: 0;
	padding-left: 0;
	margin-bottom: auto;
}

.blog_entry_no_photo ul {
	width: 100%;
	text-align: center;
	padding-left: 0;
	margin-top: 0;
	padding-left: 0;
	margin-bottom: auto;
}

.blog_entry li, .blog_entry_no_photo li {
	list-style: none;
	text-align: left;
	padding-top: 3px;
	padding-bottom: 3px;
}

.blog_entry .blog_title, .blog_entry_no_photo .blog_title {
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 15px;
	text-align: left;
}

.blog_entry .preview, .blog_entry_no_photo .preview {
	margin-top: 12px;
	margin-bottom: auto;
}

.blog_entry .cover_photo {
	width: 40%;
	margin-left: auto;
	margin-right: 0;
	display: inline-block;
	margin-top: 12px;
	padding: 15px;
	border-radius: 30px;
}

.album_title {
	margin-bottom: 0;
}

.see_album {
	font-variant: small-caps;
}

.date_entry {
	font-size: 20px;
	font-variant: small-caps;
	margin: 0;
}

.section_separator {
	width: 100%
}

.entry_separator {
	width: 50%
}

.name_intro {
	padding-top: 15px;
	margin-top: 0px;
	font-size: 30px;
	margin-bottom: 0px;
}


/* Tablets */
@media (max-width: 1200px) {
body {
	margin: auto;
	position: relative;
	align-items: center;
	width: 80%;
	max-width: 960px;
	font-family: 'Newsreader';
	font-size: 20px;
	padding: 0;
	padding-bottom: 20px;
}

.navbar {
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	padding-top: 45px;
	display: flex;
	align-items: center;
	justify-content: space-between;    
}

.navbar ul {
	margin: 0;
	padding: 0;
	display: block;
	justify-content: space-between;
	align-items: center;
}

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 15px;
}

.name_nav {
	font-size: 36px;
}

.info_board li {
	list-style: none;
	text-align: left;
	padding-top: 3px;
	padding-bottom: 3px;
}

.profile_photo {
	width: 40%;
	display: inline-block;
	padding: 15px;
	border-radius: 40px;
}

.blog_entry .cover_photo {
	width: 40%;
	margin-top: 80px;
	margin-bottom: auto;
	display: block;
	border-radius: 20px;
}

.date_entry {
	font-size: 16px;
}

.name_intro {
	padding-top: 0px;
}

}



/* mobile */
@media screen and (max-width: 760px) {
body {
	position: relative;
	align-items: center;
	width: 90%;
	max-width: 100%;
	font-family: 'Newsreader';
	font-size: 18px;
	padding: 10px;
	margin: auto;
}

.navbar {
	width: 100%;
	position: relative;
	align-items: center;
	padding-top: 10px;
	text-align: center;
	display: block;
	padding: 0;
	margin: 0;
}

.navbar ul {
	margin: 0;
	padding: 0;
	display: block;
	justify-content: space-between;
	align-items: center;
}


.navbar ul li {
	padding: 10px;
	margin: 0;
	position: relative;
	list-style: none;
	display: inline-block;
}

.name_nav {
	font-size: 42px;
	padding: 0;
}

.info_board {
	width: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	padding: 0px;
}

.info_board ul {
	width: 60%;
	margin: 0;
	padding: 0;
	padding-left: 3%
}

.info_board ul li {
	list-style: none;
	text-align: left;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 3px;
	font-size: 14px;
}

.profile_photo {
	width: 40%;
	display: inline-block;
	padding: 5px;
	border-radius: 20px;
}

.content {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.photo_block .caption {
	font-style: italic;
	font-size: 14px;
	text-align: center;
	margin-top: 0;
	padding-top: 10px;
}

.blog_entry {
	width: 100%;
	margin: 0;
	display: block;
	align-items: center;
}

.blog_entry ul {
	width: 100%;
	text-align: center;
	margin-top: 0;
	padding-left: 0;
	margin-bottom: auto;
}

.blog_entry li, .blog_entry_no_photo li {
	list-style: none;
	text-align: left;
	padding-top: 3px;
	padding-bottom: 3px;
}


.blog_entry .cover_photo {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 0;
	padding-top: 12px;
	border-radius: 20px;
}

.date_entry {
	font-size: 14px;
}

.name_intro {
	padding-top: 15px;
	margin-top: 0px;
	font-size: 24px;
	margin-bottom: 0px;
}

}